<h2>Nueva contraseña</h2>
<form action="/resetPassword" method="post">
    Email : <input type="email" name="email" id="email" >
    New Password: <input type="text" name="newPassword" id="newPassword">
    Repeat new password: <input type="text" name="repeatPassword" id="repeatPassword">


    <input type="submit" value="SEND">

</form>