<form action="/login" method="post">
    Username: <input type="text" name="username" id="username">
    Password: <input type="password" name="password" id="password">
    <input type="submit" value="LOGIN">

    <a href="http://localhost:8080/registro">No tengo cuenta</a>
</form>

<button onclick="location.href='/githubSignup'">GITHUB</button>