{{#if products.length}}
    {{#each products}}
        
        <div class="card">
            {{this}}
            <input type="submit" value="Agregar al carrito">
        </div>

    {{/each}}
{{else}}
<h2>No hay productos aun registrados</h2>
{{/if}}

<input type="submit" value="siguiente pagina">