*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2{
    text-align: center;
    padding: 20px;
    background-color: beige;
}

form{
    background-color: white;
width: 50%;
margin: 20px auto;
padding: 40px;
display: flex;
flex-direction: column;
border: 2px black solid;
border-radius: 20px;

}

input{
    display: block;
    height: 25px;
    margin-bottom: 20px;
}

.card{
    display:inline-block;
    width: 200px;
    padding: 10px;
    margin: 15px;
    font-size: 25px;
    text-align: center;
    border: 2px black solid;
}

