*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2{
    text-align: center;
    font-weight: bold;
    padding: 20px;
    background-color: beige;
}

form{
background-color: white;
display:inline;
width: 30%;
height: min-content;
margin: 20px auto;
padding: 40px;
display: flex;
flex-direction: column;
gap: 10px;
border: 2px black solid;
border-radius: 20px;
font-weight: bold;
font-size: 25px;

}
label{
    font-weight: bold;
}

input{
    display: block;
    padding: 10px;
    font-size: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card{
    display:inline-block;
    background-color: beige;
    padding: 20px;
    margin: 15px;
    font-size: 25px;
    text-align: center;
    border: 2px black solid;
}

#delete{
    background-color: rgb(243, 55, 55);
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
input[type=submit]{
    background-color: rgb(102, 140, 247);
    cursor: pointer;
}

.formAdd{
    width: fit-content;
}

.cartItem{
    font-size: 30px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    background-color: rgb(66, 208, 233);
    border: 2px solid black ;
}

#cartMain{
    width: 80vw;
    background-color: rgb(222, 184, 135);
    margin: 10px auto;
    border: 1px solid black;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.comprar{
    padding: 10px 20px;
    background-color: springgreen;
    font-weight: bold;
    width: 500px;
    margin: 10px auto;
    cursor: pointer;
   
}

.loginGithub{
    padding: 20px;
    width: 200px;
    margin: 30px;
    background-color: rgba(137, 43, 226, 0.541);
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;

}

